@font-face {
  font-family: "Muller";
  src: local("Muller Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

:root {
  --gold-color: #c93;
  --brown-color: #a47312;
  --yelow-color: #F0BF5F;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 30px 0;
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  background-color: #f1f1f1;

}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.flex {
  display: flex;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* header */

.header__container {
  flex-direction: column;
}

.header__top {
  margin-bottom: 30px;
  align-items: center;
}

.header__logo {
  margin-right: 40px;
}

.header__address {
  margin-right: auto;
  font-style: normal;
}

.header__tel {
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 500;
  color: #666;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.header__tel:focus {
  outline-offset: 5px;
  outline: 1px solid var(--gold-color);
  color: var(--gold-color);
}

.header__tel:hover {
  outline: none;
  color: var(--gold-color);
}

.header__tel:active {
  outline: none;
  color: var(--brown-color);
}

.header__personal-account {
  transition: outline 0.3s ease-in-out;
}

.header__personal-account_text {
  padding-left: 5px;
  padding-top: 4px;
  font-size: 16px;
  color: var(--gold-color);
  transition: color 0.3s ease-in-out;
}

.header__personal-account_img {
  height: 24px;
  width: 24px;
  fill: var(--gold-color);
  transition: fill 0.3s ease-in-out;
}

.header__personal-account:focus {
  outline-offset: 5px;
  outline: 1px solid var(--gold-color);
}

.header__personal-account:hover {
  outline: none;
}

.header__personal-account:hover .header__personal-account_text {
  color: var(--yelow-color);
}

.header__personal-account:hover .header__personal-account_img {
  fill: var(--yelow-color);
}

.header__personal-account:active {
  outline: none;
}

.header__personal-account:active .header__personal-account_text {
  color: var(--brown-color);
}

.header__personal-account:active .header__personal-account_img {
  fill: var(--brown-color);
}

.header__bottom {
  padding: 14px 45px;
  align-items: center;
  border-radius: 15px;
  background: #fff;
}

.nav__link {
  font-size: 16px;
  color: #666;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 5px;
  outline: 1px solid var(--gold-color);
  color: var(--gold-color);
}

.nav__link:hover {
  outline: none;
  color: var(--gold-color);
}

.nav__link:active {
  outline: none;
  color: var(--brown-color);
}

.btn {
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid var(--gold-color);
  font-size: 16px;
  color: var(--gold-color);
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:focus {
  outline: none;
  background-color: var(--gold-color);
  color: #fff;
}

.btn:hover {
  background-color: var(--gold-color);
  color: #fff;
}

.btn:active {
  background-color: var(--brown-color);
  color: #fff;
}

.nav__list {
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 45px;
}

.header__btn:not(:last-child) {
  margin-right: 40px;
}

.header__nav {
  margin-right: auto;
}

.section {
  padding: 70px 0;
}

.section__title {
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  color: #333;
}

/* special-offers */

.special-offers__list {
  flex-direction: column;
  margin-right: 24px;
}

.special-offers__item {
  position: relative;
  padding: 40px 108px 40px 45px;
  border-radius: 15px;
  width: 573px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.special-offers__item:not(:last-child) {
  margin-bottom: 24px;
}

.first-offer {
  background-image: url("../img/first-offer.jpg");
}

.second-offer {
  padding-top: 212px;
  background-image: url("../img/second-offer.jpg");
}

.third-offer {
  background-image: url("../img/third-offer.jpg");
}


.special-offers__headline {
  margin: 0;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.second-offer__headline {
  font-size: 60px;
}

.special-offers__price {
  display: block;
  margin-bottom: 47px;
  font-size: 20px;
  color: #fff;
}

.second-offer__price {
  font-size: 30px;
}

.special-offers__link {
  padding-right: 14px;
  outline: none;
  font-size: 16px;
  color: var(--yelow-color);
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 11px 11px;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, padding-right 0.3s ease-in-out;
}

.special-offers__link::before {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border: 1px solid var(--yelow-color);
  opacity: 0;
}

.special-offers__link:focus::before {
  opacity: 1;
}

.special-offers__link:hover {
  padding-right: 25px;
}

.special-offers__link:hover::before {
  opacity: 0;
}

.special-offers__link:active {
  padding-right: 14px;
  color: #fff;
}

/* about-us */

.about-us__descr {
  margin: 0;
  width: 888px;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* services */

.services__list {
  flex-wrap: wrap;
}

.services__item {
  position: relative;
  padding: 190px 0 35px 45px;
  margin-bottom: 24px;
  border-radius: 15px;
  width: 573px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  background-color: #fff;
}

.services__item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.first-service {
  background-image: url("../img/service-1.jpg");
}

.second-service {
  background-image: url("../img/service-2.jpg");
}

.third-service {
  background-image: url("../img/service-3.jpg");
}

.fourth-service {
  background-image: url("../img/service-4.jpg");
}

.services__headline {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: var(--gold-color);
  transition: color 0.3s ease-in-out;
}

.services__link {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  outline: none;
  transition: opacity 0.3s ease-in-out;
}

.services__link svg {
  width: 15px;
  height: 15px;
  stroke: var(--gold-color);
  transition: stroke 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.services__link::before {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border: 1px solid var(--gold-color);
  opacity: 0;
}

.services__link:focus::before {
  opacity: 1;
}

.services__link:hover::before {
  opacity: 0;
}

.services__link:hover .services__headline {
  color: var(--yelow-color);
}

.services__link:hover svg {
  transform: translateX(11px);
  stroke: var(--yelow-color);
}

.services__link:active .services__headline {
  color: var(--brown-color);
}

.services__link:active svg {
  transform: translateX(0);
  stroke: var(--brown-color);
}

.services__descr {
  margin: 0;
  max-width: 402px;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* advantages */

.advantages__list {
  flex-wrap: wrap;
}

.advantages__item {
  padding: 116px 42px 32px 45px;
  margin-bottom: 22px;
  width: 276px;
  border-radius: 15px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 45px 40px;
  background-size: 66px 66px;
}

.advantages__item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantage1 {
  background-image: url("../img/bathtub.svg");
}

.advantage2 {
  background-image: url("../img/hanger.svg");
}

.advantage3 {
  background-image: url("../img/heating.svg");
}

.advantage4 {
  background-image: url("../img/hotel-key.svg");
}

.advantage5 {
  background-image: url("../img/parking.svg");
}

.advantage6 {
  background-image: url("../img/reception.svg");
}

.advantage7 {
  background-image: url("../img/security-box.svg");
}

.advantage8 {
  background-image: url("../img/swimming-pool.svg");
}

.advantages__descr {
  margin: 0;
  max-width: 189px;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* placement */

.placement__list {
  flex-wrap: wrap;
}

.placement__item {
  margin-bottom: 24px;
  width: 374px;
}

.placement__item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.placement__article {
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
}

.placement__wrap {
  padding: 45px;
  padding-top: 32px;
}

.price-from {
  font-size: 16px;
  color: #999;
}

.price-night {
  font-size: 16px;
  color: #000;
}

.hotel-price {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.placement__descr {
  margin: 0;
  margin-bottom: 16px;
}

.placement__wrapper {
  justify-content: space-between;
}

.rating__item:not(:last-child) {
  margin-right: 6px;
}

.hotel-name {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  color: #000;
}

.hotel-location {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  color: #999;
}

.last {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-top: 373px;
  padding-left: 54px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  background-image: url("../img/rock.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}

.last:hover {
  transform: translate(5px, 10px);
}

.last__link {
  padding-right: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: #fff;
  background-image: url("../img/arrow-white.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
}

.last__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* tour */

.tour__container {
  padding: 45px 40px;
  border-radius: 15px;
  background: #e9e9e9;
}

.tour__title {
  margin-left: 0;
  color: #000;
}

.form__list {
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
  padding: 28px 31px;
  border-radius: 15px;
  background-color: #fff;
}

.form__descr {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 12px;
  color: #000;
}

.form__item:not(:last-child) {
  margin-right: 41px;
}

.form__select {
  max-width: 169px;
  border: none;
  font-size: 16px;
  color: #000;
}

.form__input {
  max-width: 121px;
  border: none;
  font-size: 16px;
  color: #000;
}

.form__input_num {
  border-bottom: 1px solid #e9e9e9;
}

.form__btn {
  margin-left: 10px;
  padding: 13px 30px;
}

/* contacts */

.contacts__container {
  align-items: center;
  justify-content: space-between;
  padding: 45px;
  border-radius: 15px;
  background: #fff;
}

.contacts__address {
  font-style: normal;
}

.contacts__address .address__list {
  margin-bottom: 45px;
}

.contacts__address .address__item {
  padding-bottom: 23px;
  border-bottom: 1px solid #e9e9e9;
  width: 375px;
}

.contacts__address .address__item:not(:first-child) {
  padding-top: 25px;
}

.address__left {
  width: 145px;
}

.address__title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.address__descr {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.address__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.address__link {
  font-size: 16px;
  line-height: 150%;
  color: var(--gold-color);
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.address__link:not(:last-child) {
  margin-bottom: 5px;
}

.address__link:focus {
  outline-offset: 3px;
  outline: 1px solid var(--gold-color);
}

.address__link:hover {
  outline: none;
  color: var(--yelow-color);
}

.address__link:active {
  outline: none;
  color: var(--brown-color);
}

.address__info {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: #999;
}

.address__info:not(:last-child) {
  margin-bottom: 5px;
}

.contacts__btn {
  padding: 30px;
}

/* footer */

.footer__container {
  padding: 45px;
  justify-content: space-between;
  border-radius: 15px;
  background: #333;
  background-image: url("../img/footer-bg.svg");
  background-size: 254px 228px;
  background-repeat: no-repeat;
  background-position: 739px 113px;
}


.footer__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 190%;
  color: #fff;
}

.footer__left {
  max-width: 302px;
  flex-direction: column;
  align-items: flex-start;
}

.footer__copy {
  margin-bottom: 37px;
}

.footer__descr {
  margin-bottom: 40px;
}

.footer__address .address__list {
  flex-direction: column;
  align-items: flex-start;
}

.footer__link {
  display: block;
  font-size: 16px;
  line-height: 150%;
  color: var(--gold-color);
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.footer__link:not(:last-child) {
  margin-bottom: 5px;
}

.footer__link:focus {
  outline-offset: 3px;
  outline: 1px solid var(--gold-color);
}

.footer__link:hover {
  outline: none;
  color: var(--yelow-color);
}

.footer__link:active {
  outline: none;
  color: var(--brown-color);
}

.footer__address {
  width: 503px;
  font-style: normal;
}

.address__text {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}

.footer__address .address__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__link_social {
  display: block;
  width: 25px;
  height: 25px;
}

.footer__link_social svg {
  fill: #999;
  transition: fill 0.3s ease-in-out;
}

.footer__link_social:focus {
  outline: none;
}

.footer__link_social:focus svg {
  fill: var(--gold-color);
}

.footer__link_social:hover svg {
  fill: var(--gold-color);
}

.footer__link_social:active svg {
  fill: var(--brown-color);
}

/* .link-eyes {
  background-image: url("../img/eyes.svg");
}

.link-ok {
  background-image: url("../img/ok.svg");
}

.link-vk {
  background-image: url("../img/vk.svg");
} */

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}
